<div class="content_events">
	<div class="container">
		{% if list_medias is not empty %}
			<div class="list_medias">
				<div class="list_medias_grid">
					{% for media in list_medias %}
						<div class="item_medias_grid">
							<div class="item_medias">
								<div class="zoom_gallery">
									<a href="{{ asset (vich_uploader_asset(media,'imageFile')) }}">
										<img class="img-fluid" src="{{ asset (vich_uploader_asset(media,'imageFile')) }}" alt="{{media.titre}}">
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% else %}
			<p>
	        	{{"Il n'y a aucune media pour l'instant."|trans}}
	        </p>
		{% endif %}
	</div>
</div>