<div class="block_location_home">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="titre_location_home">
					<h3>
						<span>Location de</span>
						<span>mobilier de luxe</span>
						<span>sur mesure.</span>
					</h3>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="text_location_home">
					<div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eu mattis lectus. Integer dictum ante ante, nec gravida eros commodo quis. Donec in tristique felis, eu sodales urna. Praesent tellus leo, euismod et enim ut, pulvinar venenatis erat. Aliquam scelerisque tristique neque. Nulla nec pellentesque lacus. 
						</p>
						<a href="#">En savoir plus</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>