<title></title>
<meta name="title" content="{{page_selected.seoTitre}}" />
<meta name="description" content="{{page_selected.seoDescription}}" />
<meta name="keywords" content="{{page_selected.seoDescription}}" />
<meta property="og:title" content="{{page_selected.seoTitre}}"/>
<meta property="og:url" content="https://diarysakane.ma"/>
<meta property="og:type" content="Page"/>
<meta property="og:image" content=""/>
