<div class="switcher_home switcher">
	<div class="container">
		<div class="row">
			<div class="col-lg-1 col-md-1"></div>
			<div class="col-lg-10 col-md-10">
				<div class="img_switcher">
					<img class="img-fluid" src="{{ asset(vich_uploader_asset(page_selected,'imageFile')) }}" alt="Banner d'accueil">
					<div class="text_switcher">
						<div>
							<h1>
								<span>Le mobilier</span>
								<span>imaginé</span>
								<span>différement.</span>
							</h1>
							<a href="{{ path('catalogue') }}">Découvrir Boitaloc</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-1 col-md-1"></div>
		</div>
	</div>
</div>
