<div class="row">
	<div class="col-lg-1 col-md-1"></div>
	<div class="col-lg-10 col-md-10">
		<div class="chemin_produit">
			<ul>
				<li><a href="{{ path('homepage') }}">Accueil</a><span>></span></li>
				<li><a href="{{ path('actualites') }}">Actualités</a><span>></span></li>
				<li><a href="#">{{actualite_selected}}</a></li>
			</ul>
		</div>
	</div>
	<div class="col-lg-1 col-md-1"></div>
</div>